.profileBox {
    position: absolute;
    top: 20px;
    left: 300px;
    width: 300px;
    background-color: white;
    border: 1px solid #0000007a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px;
    z-index: 1000;
}

.column {
    text-align: left;
    flex: 1;
    padding: 0 10px;
}

.column h3 {
    margin-bottom: 15px;
    font-size: 1em;
    font-weight: 500;
    color: #333;
}



.column ul {
    font-size: 0.8em;
    list-style-type: none;
    padding: 0;
}

.column li {
    padding: 5px 0;
    color: #666;
    cursor: pointer;
    transition: color 0.3s ease;
}

.column li:hover {
    color: #525AD1;
}
