.parentContainer {
    background-image: url('../../Images/homebg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .navbar {
    border-bottom: 1px solid #00000054;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
  }

  .navbar h1 {
    margin-left: 20px;
    font-size: 2em;
  }

  .navbar input {
    width: 50%;
    height: 35px;
    border: 1px solid #0000007e;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-right: 20px;
    padding-left: 10px;
  }

  .navbar input:focus {
    outline: none;
  }

  .navbar input::placeholder {
    padding-left: 10px;
  }

  .navbar button {
    cursor: pointer;
    margin-right: 20px;
    height: 40px;
    width: 10em;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #525AD1;
  }


  .profileContainer {
    cursor: pointer;
    margin-right: 50px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #0000005a;
  }

  .profileContainer img {
    border-radius: 100%;
  }

  .contentContainer {
    margin-top: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .introContainer{
    font-size: 2em;
    margin-bottom: 30px;
  }

  .statsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .stat {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .stat span:first-child {
    font-size: 24px;
    font-weight: bold;
    color: #525AD1; /* Blue color for the number */
    margin-bottom: 8px;
  }
  
  .stat span:last-child {
    font-size: 12px;
    color: #555;
    text-align: center;
  }
  
  .cardContainerParent {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 40px;
  }

  .cardContainerParent > span {
    font-size: 1.2em;
    padding-left: 50px;
  }
  .cardContainer {
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    padding: 40px;
  }

  .cardContainerTitle {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.2em;
    width: 100%;  
  }

  .projectCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 15px;
    transition: all 0.3s ease;
  }

  .projectCard:hover {
    transform: translateY(-5px);
  }

  .projectImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .profileIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .cardContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  .projectDetailsContainer {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    font-size: 1em;
  }

  .fundingStatus {
    font-size: 1em;
    color: #000000a3;
  }

  .projectDescription {
    font-size: 0.8em;
    color: #000000a3;
  }

  .burgerMenuLine {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 4px 0;
  }

  .showMenu {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    right: -200px; /* Start off the screen to the right */
    width: 200px;
    height: 100%;
    background-color: white;
    border: 1px solid #0000007e;
    padding: 15px;
    transition: all 0.3s ease;
  }
  
  .showMenu.active {
    right: 0; /* Slide in from the right */
  }


  .showMenu a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
  }

  .showMenu button {
    width: 100%;
    height: 40px;
    border: 1px solid #0000007e;
    border-radius: 10px;
    padding: 15px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .hideMenu {
    display: none;
  }


  